footer {
  background:  rgb(255, 112, 57);
  height: 80px;

  .copy-light-area {
    width: 100px;
    margin: 0 auto;
    font-size: 22px;

    .copy-light {
      color: #fff;
      line-height: 80px;
    }
  }
}