.articles-wrapper {
  width: 72%;
  padding: 16px 1.5% 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);

  .wrapper-title-area {
    margin-bottom: 16px;
    padding-bottom: 6px;
    border-bottom: 3px dashed #212121;
    width: 100%;

    .wrapper-title {
      display: inline-block;
      font-size: 30px;
      padding-left: 8px;
      letter-spacing: 0.05em;
      font-family: 'Quicksand', 'Noto Sans JP', sans-serif;
      color: #212121;
    }
  }

  .contents-title-area {
    margin-bottom: 16px;
    padding-bottom: 6px;
    border-bottom: 2px solid #212121;
    width: 100%;

    .wrapper-title {
      display: inline-block;
      font-size: 28px;
      padding-left: 8px;
      letter-spacing: 0.05em;
      font-family: 'Quicksand', 'Noto Sans JP', sans-serif;
      color: #212121;
    }
  }

  .article-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;

    .article-box {
      display: inline-block;
      width: 48.8%;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      margin-bottom: 15px;
      color: #333;
      position: relative;
      bottom: 0;
      transition: all 0.4s;
  
      &:hover {
        position: relative;
        bottom: 3px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.18);
        opacity: 0.9;
        transition: all 0.4s;

        .article-content {

          div.article_img {
            overflow: hidden;
            border-radius: 2px 2px 0 0;

            img {
              transform: scale(1.15, 1.15);
              transition: transform 0.4s;
            }
          }

          .article-low-content {

            .content-title {
              color:rgba(255, 112, 57, 0.8);
              transition: color 0.3s;
            }
          }
        }
      }
  
      .article-content {

        div.article_img {
          overflow: hidden;

          img {
            width: 100%;
            height: 220px;
            object-fit: cover;
            vertical-align: bottom;
            border-radius: 2px 2px 0 0;
            position: relative;
            transition: transform 0.4s;
          }

          .new_icon_box {
            font-family: 'Quicksand', 'Noto Sans JP', sans-serif;
            font-size: 20px;
            position: absolute;
            right: 0;
            z-index: 10;
            border-style: solid;
            border-width: 0 80px 80px 0;
            border-color: transparent rgb(255, 112, 57) transparent transparent;
            height: 0;
            width: 0;

            .new_icon_text {
              transform: rotate(45deg);
              line-height: 0;
              padding-left: 20px;
              padding-bottom: 45px;
              padding-right: 10px;
              color: rgba(255, 255, 255, 1);
              font-weight: bold;
              letter-spacing: 0.07em;
            }
          }
        }
  
  
        .article-low-content {
          padding: 15px 15px 10px;
  
          .content-title {
            font-size: 16px;
            margin-bottom: 10px;
            transition: color 0.3s;
          }
  
          .content-user {
            font-size: 13px;
            color: #888;
            margin-bottom: 10px;
            letter-spacing: 0.01em;
          }

          .content-date {
            font-size: 13px;
            color: #888;
            margin-bottom: 0;
            letter-spacing: 0.04em;
          }
        }
      }
    }
  }

  .note-box {
    overflow: auto;
    height: 300px;

    .note-content {
      font-size: 16px;
      width: 100%;
      padding-bottom: 10px;
      padding-left: 10px;
      border-bottom: 1px solid rgba(51, 51, 51, 0.3);
      word-wrap: break-word;
    }
  }
}

.user-article-wrapper {
  margin-bottom: 230px;
}

.user-note-wrapper {
  margin-bottom: 120px;
}

@media(max-width: 900px) {
  .articles-wrapper {
    width: 100%;
  }
}

@media(max-width: 670px) {
  .articles-wrapper {

    .wrapper-title-area {

      .wrapper-title {
        font-size: 25px;
      }
    }

    .contents-title-area {

      .wrapper-title {
        font-size: 25px;
      }
    }
    
    .article-display {
      flex-direction: column;

      .article-box {
        width: 100%;

        .article-content {

          .article-low-content {

            .content-title {
              font-size: 14px;
            }

            .content-user {
              font-size: 12px;
            }

            .content-date {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .user-article-wrapper {
    margin-bottom: 20px;
  }

  .user-note-wrapper {
    margin-bottom: 20px;
  }
}