.aside-wrapper,
.responsive-menu-area {
  width: 25%;
  padding: 0 0 16px;
  margin-right: 1.5%;
  height: 100vh;
  position: sticky;
  top: 10px;
  
  .side-box {
    padding: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    border-radius: 2px;
    margin-bottom: 15px;
    background: #fff;

    .side-head-area {
      padding: 0 0 6px;
      border-bottom: 2px #0d0015 solid;
      margin-bottom: 10px;

      .side-head-title {
        font-size: 18px;
        letter-spacing: 0.05em;
        color: rgba(255, 112, 57, 1);
        font-family: 'Quicksand', 'Noto Sans JP', sans-serif;
      }
    }

    ul > li > .side-menu-item {
      display: block;
      padding: 4px;
      color: #333;
      border-radius: 4px;
      transition: all 0.3s;

      .note {
        pointer-events: none;
        user-select: none;
        cursor: none;
      }

      &:hover {
        background: rgba(222, 222, 222, 0.4);
        color: orangered;
        transition: all 0.3s;
      }

    }

    .user-support-menu {

      #memo-error {
        font-size: 1em;
      }
    }

    .memo-form {
      width: 100%;
      display: flex;
      flex-direction: column;

      .memo-area {
        margin-bottom: 10px;
        padding: 12px;
        text-align: left;
        font-size: 16px;
        height: 167px;
        resize: none;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      .memo-submit {
        width: 100px;
        margin: 0 auto;
        background: rgb(0, 155, 232);
        border: 2px solid rgba(0, 0, 0, 0);
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

        &:hover {
          border: 2px solid rgba(0, 155, 232, 1);
          background:rgba(0, 155, 232, 0.1);
          color:rgb(0, 155, 232);
          transition: all 0.3s;
        }
      }
    }
  }

  .search-form {
    display: flex;
    position: relative;

    .input-box {
      width: 100%;
      padding: 8px 10px 6px 34px;
      font-size: 1.05em;
      color: #333;
      border: solid 1px #ccc;
      border-radius: 4px;
      transition: 0.3s;
      -webkit-appearance: none;
      outline: 0;
      margin-right: 2%;

      &:focus {
        border: 1px solid rgb(0, 155, 232);
      }
    }

    .search-btn {
      width: 30px;
      height: 40px;
      box-sizing: content-box;
      padding: 0;
      border: 0;
      opacity: 0.5;
      background: transparent;
      position: absolute;
      top: -1px;
      left: 2px;
      font-size: 20px;
    }
  }
}

@media(max-width: 900px) {
  .aside-wrapper {
    display: none;
  }
}