.articles-wrapper {

  .category-user-visible-area {
    margin-bottom: 14px;
    width: 100%;

    .category-info {
      margin-bottom: 10px;
      color: #333;

      .category-name {
        color: #009be8;
        transition: all 0.1s;

        &:hover {
          color: #f16d15;
          transition: all 0.1s;
          text-decoration: underline;
        }
      }
    }

    .user-day-info {
      display: flex;
      justify-content: space-between;

      .user-info {
        color: #333;

        a {
          color: #009be8;
          font-weight: bold;
          transition: all 0.1s;

          &:hover {
            color: #f16d15;
            transition: all 0.1s;
            text-decoration: underline;
          }
        }
      }

      .day-info {
        color: #777;
      }
    }
  }

  .article-details {
    width: 100%;

    .article-image-area {
      padding: 1%;
      box-shadow: 0 1px 3px rgba(0,0,0,0.2);
      width: 100%;

      img {
        width: 100%;
        height: 430px;
        object-fit: cover;
        vertical-align: bottom;
      }
    }

    .article-text-area {
      padding: 32px 16px 20px;
      color: #333;

      p {
        word-break: break-all;
      }
    }

    .btn {
      display: block;
      padding: 14px 0;
      font-size: 20px;
      color: #fff;
      text-align: center;
      border-radius: 30px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.4);
      width: 70%;
      margin: 0 auto 14px;
      letter-spacing: 0.3em;
      position: relative;
      bottom: 0;
      transition: all 0.2s;

      &:hover {
        position: relative;
        bottom: 2px;
        transition: all 0.2s;
        box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
      }
    }

    .article-edit {
      background: rgb(0, 155, 232);
      border: 2px solid rgba(0, 0, 0, 0);

      &:hover {
        border: 2px solid rgba(0, 155, 232, 1);
        background: rgba(0, 155, 232, 0.1);
        color: rgba(0, 155, 232, 1);
      }
    }

    .article-delete {
      background: #f16d15;
      border: 2px solid rgba(0, 0, 0, 0);

      &:hover {
        border: 2px solid rgba(241, 109, 21, 1);
        background: rgba(241, 109, 21, 0.1);
        color: rgba(241, 109, 21, 1);
      }
    }

    .article-marks[data-status="false"] {
      background: rgba(241, 226, 21, 0.3);
      border: 2px solid rgba(0, 0, 0, 0);
      color: rgb(51, 51, 51);
      cursor: pointer;
      user-select: none;
      display: block;
      text-align: center;

      &:hover {
        border: 2px solid rgba(241, 226, 21, 1);
        background: rgba(241, 226, 21, 0.05);
        color: rgba(51, 51, 51, 1);
      }
    }

    .article-marks[data-status="true"] {
      background: rgb(241, 226, 21);
      border: 2px solid rgba(0, 0, 0, 0);
      color: rgb(51, 51, 51);
      cursor: pointer;
      user-select: none;
      display: block;
      text-align: center;

      &:hover {
        border: 2px solid rgba(241, 226, 21, 1);
        background: rgba(241, 226, 21, 0.4);
        color: rgba(51, 51, 51, 1);
      }
    }
  }
}

.comment-all {
  max-width: 1020px;
  margin: 20px auto 0;
  
  .low-comment-wrapper {
    display: flex;
    flex-direction: column;
    width: 72%;
    margin: 40px 1.5% 0 auto;

    .comment-visible-box,
    .comment-wrapper {
      width: 100%;
      box-shadow: 0 1px 3px rgba(0,0,0,0.4);
      background: #fff;
      padding: 8px 1.5% 10px;

      .wrapper-title-area {
        margin-bottom: 16px;
        padding-bottom: 6px;
        border-bottom: 3px dashed #333;
        width: 100%;
    
        .wrapper-title {
          display: inline-block;
          font-size: 22px;
          padding-left: 8px;
          letter-spacing: 0.05em;
          font-family: 'Quicksand', 'Noto Sans JP', sans-serif;
        }
      }
    }

    .comment-visible-box {
      height: 300px;

      .wrapper-title-area {
        margin-bottom: 0;
        border-bottom: 1px solid rgba(170, 170, 170, 0.3);
        padding-top: 4px;
        padding-bottom: 12px;
        color: #333;
      }
      
      .comment-open-area {
        overflow: auto;
        height: 234px;
        color: #333;

        .comment {
          padding: 12px 8px;
          margin-bottom: 0;
          border-top: 1px solid rgba(170, 170, 170, 0.4);

          .comment-content {
            display: flex;
            flex-direction: column;
            word-wrap: break-word;
            font-size: 20px;
            margin-bottom: 1em;
            margin-bottom: 12px;

            p {
              margin-bottom: 5px;
            }

            .comment_date {
              color: #777;
              margin-bottom: 0;
              font-size: 16px;
            }
          }
        }
        
        .comment_user {
          margin-bottom: 8px;
        }
        
        .comment-delete {
          display: inline-block;
          cursor: pointer;
          background: rgba(51, 51, 51, 0.1);
          padding: 6px 8px;
          border-radius: 4px;
          font-size: 20px;
          color: rgba(51, 51, 51, 0.5);
          transition: all 0.3s;
          margin-top: 10px;

          &:hover {
            background: rgba(51, 51, 51, 0.3);
            color: rgba(51, 51, 51, 0.8);
            transition: all 0.3s;
          }
        }

        .clearfix {
          content: '';
          display: block;
          clear: both;
        }
      }
    }

    .comment-wrapper {
      margin-top: 40px;

      .wrapper-title-area {
        margin-bottom: 0;
        border-bottom: 0px solid rgba(170, 170, 170, 0.3);
        padding-top: 4px;
        padding-bottom: 12px;
        color: #333;
      }

      .comment-box {
        width: 100%;

        #comment-form {
          width: 100%;

          .comment-text-box {
            width: 100%;
            overflow: auto;
            margin: 1px;

            .comment-text {
              width: 100%;
              height: 140px;
              padding: 16px;
              font-size: 16px;
              border: 1px solid rgba(170, 170, 170, 0.3);
              resize: none;
              outline: none;
              transition: border 0.3s;
              border-radius: 2px;
              resize: vertical;

              &:focus {
                border: 1px solid rgb(0, 155, 232);
              }
            }
          }

          .comment-flag-icon {
            display: block;
            margin-left: auto;
            cursor: pointer;
            padding: 6px;
            background: rgb(0, 155, 232);
            color: #fff;
            border-radius: 4px;
            font-weight: bold;
            box-shadow: 0 1px 3px rgba(0,0,0,0.4);
            transition: all 0.3s;
            border: 2px solid rgb(0, 155, 232);

            &:hover {
              box-shadow: 0 3px 6px rgba(0,0,0,0.3);
              transition: all 0.3s;
              color: rgb(0, 155, 232);
              background: #fff;
            }
          }

          .comment-signup, .comment-signin {
            width: 50%;
            margin: 0 auto 10px;
            text-align: center;
            opacity: 0.7;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    .page-change {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .change-item-btn {
        display: inline-block;
        background: #fff;
        color: #333;
        padding: 8px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.4);
        border-radius: 4px;
        transition: color 0.3s;

        &:hover {
          color:rgba(241, 109, 21, 1);
          transition: color 0.3s;
        }
      }
    }
  }
}

.users_other_articles_area {
  max-width: 1020px;
  margin: 20px auto 0;
  
  .wrapper-title-area {
    width: 72%;
    margin: 0 1.5% 0 auto;
    background: #fff;
    padding: 12px 2.4% 0;
    margin-bottom: 0;
    border-bottom: 0px solid rgba(170, 170, 170, 0.3);
    color: #333;
    font-family: 'Quicksand', 'Noto Sans JP', sans-serif;
    display: flex;
    
    .wrapper-title {
      letter-spacing: 0.05em;
    }
  }

  .users_other_articles_wrapper {
    width: 72%;
    margin: 0 1.5% 0 auto;
    background: #fff;
    padding: 16px 1.5%;
    display: flex;

    .article-box {
      width: 33%;
      margin-right: 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
      transition: all 0.4s;

      &:hover {
        transition: all 0.4s;
        opacity: 0.8;

        .article-content {

          .article_img {
            overflow: hidden;
            border-radius: 2px 2px 0 0;

            img {
              transform: scale(1.1, 1.1);
              transition: transform 0.4s;
              border-radius: 2px 2px 0 0;
            }
          }

          .content-title {
            color:rgba(241, 109, 21, 1);
            transition: color 0.2s; 
          }
        }
      }

      .article-content {
        color: #333;

        .article_img {
          overflow: hidden;

          img {
            transition: transform 0.4s;
            border-radius: 2px 2px 0 0;
          }
        }

        .article-low-content {
          padding: 0 8px;

          .content-title {
            font-size: 14px;
            margin: 8px 0 6px;
            transition: color 0.2s;
          }

          .content-user {
            font-size: 12px;
            color: #888;
            margin-bottom: 5px;
            letter-spacing: 0.01em;
          }

          .content-date {
            font-size: 12px;
            color: #888;
            margin-bottom: 5px;
            letter-spacing: 0.01em;
          }
        }
      }
    }

    .article-box:last-child {
      margin: 0;
    }
  }

  .users_other_articles_link_area {
    width: 72%;
    margin: 0 1.5% 0 auto;
    background: #fff;
    padding: 0px 1.5% 16px;
    text-align: center;

    .users_other_articles_link {
      background:  rgb(0, 155, 232);
      transition: all 0.3s;
      border: 2px solid rgb(0, 155, 232);
      color: #fff;
      box-shadow: 0 1px 3px rgba(0,0,0,0.4);
      padding: 6px 24px;
      border-radius: 4px;

      &:hover {
        transition: all 0.3s;
        color: rgb(0, 155, 232);
        background: #fff;
      }
    }
  }

  img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    vertical-align: bottom;
  }
}

.clearfix {
  content: '';
  display: block;
  clear: both;
}

@media(max-width: 900px) {
  .articles-wrapper {

    .article-details {

      .btn {
        font-size: 14px;
      }
    }
  }

  .comment-all {
    max-width: 100%;
    margin: 0 1% 20px;

    .low-comment-wrapper {
      width: 100%;
    }
  }

  .users_other_articles_area {
    max-width: 100%;
    margin: 0 1%;

    .wrapper-title-area {
      width: 100%;
    }

    .users_other_articles_wrapper {
      width: 100%;

      .article-box {
        width: 33.3%;
      }
    }

    .users_other_articles_link_area {
      width: 100%;
      margin: 0;
  
      .users_other_articles_link {
        width: 100%;
      }
    }
  }

}

@media(max-width: 670px) {
  .articles-wrapper {

    .category-user-visible-area {
      margin-bottom: 8px;

      .user-day-info {
        display: block;

        .user-info {
          margin-bottom: 10px;
        }

        .day-info {
          margin-bottom: 0;
        }
      }
    }

    .article-details {

      .article-image-area {

        img {
          height: 300px;
        }
      }

      .btn {
        width: 100%;
      }
    }
  }

  .users_other_articles_area {

    .users_other_articles_wrapper {
      flex-direction: column;

      .article-box {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
      }
    }
  }

  .comment-all {
    margin-right: 0;
    margin-left: 0;

    .low-comment-wrapper {

      .comment-visible-box {
        height: 250px;
      }

      .comment-wrapper {

        .comment-box {

          #comment-form {

            .comment-text-box {

              .comment-text {
                height: 100px;
              }
            }

          }
        }
      }
    }
  }
}