.articles-wrapper {

  .parent_categories_nav_area {

    ul.parent_categories_nav {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .top_menu_category {
        color: #333;
        display: block;
        padding: 5px 6px;
        background:rgba(0, 155, 232, 0.2);
        border-radius: 4px;
        transition: all 0.3s;

        &:hover {
          background:rgba(0, 155, 232, 0.9);
          transition: all 0.3s;
          color: #fff;
        }
      }
    }
  }

  ul.article-display {
    display: flex;
    flex-direction: column;

    li {

      a {
        color: #0d0015;
        display: block;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.04);
        padding: 5px 10px;
        font-size: 16px;
        margin-bottom: 10px;
        transition: all 0.2s;

        &:hover {
          background:rgba(255, 112, 57, 0.9);
          transition: all 0.2s;
        }
      }

      .parent_index {
        background:rgba(255, 112, 57, 0.4);
        width: 100%;
        text-align: center;
        padding: 16px 30px;
      }

      .reverse_top {
        text-align: center;
        background:rgba(0, 155, 232, 0.5);
        transition: all 0.3s;

        &:hover {
          background:rgba(0, 155, 232, 0.9);
          transition: all 0.3s;
          color: #fff;
        }
      }
    }

    li.parent_list {
      width: 100%;
    }

    .categories_children {
      display: flex;
      flex-direction: column;
      width: 100%;

      .child_index {
        background:rgba(255, 112, 57, 0.2);
        text-align: center;
        width: 100%;

        &:hover {
          background:rgba(255, 112, 57, 0.8);
          transition: all 0.2s;
        }
      }

      .child_list {
        width: 100%;
      }

      .categories_grandchildren {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        li {
          width: 100%;

          .grandchild_index {
            width: 100%;
          }
        }
      }
    }
  }
}

@media(max-width: 900px) {
  .articles-wrapper {

    .parent_categories_nav_area {

      ul.parent_categories_nav {
        flex-wrap: wrap;

        .top_menu_category {
          margin-bottom: 8px;
        }
      }
    }
  }
}