.articles-wrapper {

  .profile-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    font-family: 'Quicksand', 'Noto Sans JP', sans-serif;
    width: 100%;
    color: #333;

    .profile-box {
      margin-bottom: 50px;
      width: 100%;
      word-wrap: break-word;

      .article-form-text-wrap {
        background: rgba(255, 112, 57, 0.8);
        padding: 4px 16px;
        width: 40%;
        border-radius: 4px 4px 0 0;
      }

      .profile-content {
        padding: 20px;
        font-size: 18px;
        background: rgba(255, 112, 57, 0.3);
        border-radius: 0 4px 4px 4px;
      }
    }

    .edit-profile {

      .btn {
        display: block;
        padding: 14px 0;
        font-size: 20px;
        color: #fff;
        text-align: center;
        border-radius: 30px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.4);
        width: 70%;
        margin: 0 auto 14px;
        letter-spacing: 0.3em;
        position: relative;
        bottom: 0;
        transition: all 0.2s;
  
        &:hover {
          position: relative;
          bottom: 2px;
          transition: all 0.2s;
          box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
        }
      }

      .profile-edit {
        background: rgb(0, 155, 232);
        border: 2px solid rgba(0, 0, 0, 0);
  
        &:hover {
          border: 2px solid rgba(0, 155, 232, 1);
          background: rgba(0, 155, 232, 0.1);
          color: rgba(0, 155, 232, 1);
        }
      }
    }
  }
}